In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('weatherAUS.csv')

In [3]:
print(df['Location'].unique())
len(df['Location'].unique())

['Albury' 'BadgerysCreek' 'Cobar' 'CoffsHarbour' 'Moree' 'Newcastle'
 'NorahHead' 'NorfolkIsland' 'Penrith' 'Richmond' 'Sydney' 'SydneyAirport'
 'WaggaWagga' 'Williamtown' 'Wollongong' 'Canberra' 'Tuggeranong'
 'MountGinini' 'Ballarat' 'Bendigo' 'Sale' 'MelbourneAirport' 'Melbourne'
 'Mildura' 'Nhil' 'Portland' 'Watsonia' 'Dartmoor' 'Brisbane' 'Cairns'
 'GoldCoast' 'Townsville' 'Adelaide' 'MountGambier' 'Nuriootpa' 'Woomera'
 'Albany' 'Witchcliffe' 'PearceRAAF' 'PerthAirport' 'Perth' 'SalmonGums'
 'Walpole' 'Hobart' 'Launceston' 'AliceSprings' 'Darwin' 'Katherine'
 'Uluru']

49

In [4]:
df[df['Location']=='Albury']

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3035,2017-06-21,Albury,1.2,15.2,0.4,NaN,NaN,ENE,15.0,NaN,...,100.0,62.0,1029.4,1026.7,8.0,NaN,2.9,14.3,No,No
3036,2017-06-22,Albury,0.8,13.4,0.0,NaN,NaN,W,17.0,S,...,100.0,66.0,1029.4,1025.9,8.0,1.0,3.6,13.3,No,No
3037,2017-06-23,Albury,1.1,11.9,0.0,NaN,NaN,SE,44.0,SSE,...,100.0,81.0,1022.3,1017.7,8.0,1.0,2.7,10.2,No,No
3038,2017-06-24,Albury,1.1,14.1,0.2,NaN,NaN,WSW,28.0,SW,...,100.0,49.0,1018.8,1017.2,7.0,6.0,3.9,13.1,No,No
3039,2017-06-25,Albury,3.9,10.9,0.0,NaN,NaN,NNW,28.0,S,...,88.0,82.0,1020.5,1018.8,7.0,8.0,6.4,8.8,No,Yes

In [5]:
# print("Albury:",len(df[df['Location']=='Albury']))
# print("BadgerysCreek:",len(df[df['Location']=='BadgerysCreek']))
# print("Cobar:",len(df[df['Location']=='Cobar']))
# print("Uluru:",len(df[df['Location']=='Uluru']))
for loc in df['Location'].unique():
    print(f"{loc}:\t",len(df[df['Location']==loc]))

Albury:	 3040
BadgerysCreek:	 3009
Cobar:	 3009
CoffsHarbour:	 3009
Moree:	 3009
Newcastle:	 3039
NorahHead:	 3004
NorfolkIsland:	 3009
Penrith:	 3039
Richmond:	 3009
Sydney:	 3344
SydneyAirport:	 3009
WaggaWagga:	 3009
Williamtown:	 3009
Wollongong:	 3040
Canberra:	 3436
Tuggeranong:	 3039
MountGinini:	 3040
Ballarat:	 3040
Bendigo:	 3040
Sale:	 3009
MelbourneAirport:	 3009
Melbourne:	 3193
Mildura:	 3009
Nhil:	 1578
Portland:	 3009
Watsonia:	 3009
Dartmoor:	 3009
Brisbane:	 3193
Cairns:	 3040
GoldCoast:	 3040
Townsville:	 3040
Adelaide:	 3193
MountGambier:	 3040
Nuriootpa:	 3009
Woomera:	 3009
Albany:	 3040
Witchcliffe:	 3009
PearceRAAF:	 3009
PerthAirport:	 3009
Perth:	 3193
SalmonGums:	 3001
Walpole:	 3006
Hobart:	 3193
Launceston:	 3040
AliceSprings:	 3040
Darwin:	 3193
Katherine:	 1578
Uluru:	 1578

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [7]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

##### Data preprocessing

looking at data:

- 14 lakh data for 49 location each contains nearly 3k data from 2008 - 2017
- Evaporation, sunshine, cloud9,cloud3 contains null values.. delete them
- impute the remainings with mean
- target: Rain Today or Rain Tomorrow , map Yes=1, No=0
- remove categorical cols: winddir,etc.
- normalize the data.. as some contains max beyond outlier..
- as this is time-series and dates are continuous, we can drop the dates cols..
- don't shuffle the data..
- lag of 6 days.

In [8]:
alb=df[df['Location']=='Albury'].copy()

In [9]:
alb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3040 entries, 0 to 3039
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           3040 non-null   object
 1   Location       3040 non-null   object
 2   MinTemp        3029 non-null   float64
 3   MaxTemp        3029 non-null   float64
 4   Rainfall       3011 non-null   float64
 5   Evaporation    0 non-null      float64
 6   Sunshine       0 non-null      float64
 7   WindGustDir    3008 non-null   object
 8   WindGustSpeed  3008 non-null   float64
 9   WindDir9am     2515 non-null   object
 10  WindDir3pm     2994 non-null   object
 11  WindSpeed9am   3031 non-null   float64
 12  WindSpeed3pm   3029 non-null   float64
 13  Humidity9am    3031 non-null   float64
 14  Humidity3pm    3032 non-null   float64
 15  Pressure9am    3035 non-null   float64
 16  Pressure3pm    3032 non-null   float64
 17  Cloud9am       1289 non-null   float64
 18  Cloud3pm       1427 non-null   float64
 19  Temp9am        3031 non-null   float64
 20  Temp3pm        3032 non-null   float64
 21  RainToday      3011 non-null   object
 22  RainTomorrow   3011 non-null   object
dtypes: float64(16), object(7)
memory usage: 570.0+ KB

In [17]:
alb.drop(['Date','Location','Evaporation','Sunshine','WindGustDir','Cloud9am','Cloud3pm'],inplace=True,axis=1)

KeyError: "['Date', 'Location', 'Evaporation', 'Sunshine', 'WindGustDir', 'Cloud9am', 'Cloud3pm'] not found in axis"

In [18]:
alb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3040 entries, 0 to 3039
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MinTemp        3029 non-null   float64
 1   MaxTemp        3029 non-null   float64
 2   Rainfall       3011 non-null   float64
 3   WindGustSpeed  3008 non-null   float64
 4   WindDir9am     2515 non-null   object
 5   WindDir3pm     2994 non-null   object
 6   WindSpeed9am   3031 non-null   float64
 7   WindSpeed3pm   3029 non-null   float64
 8   Humidity9am    3031 non-null   float64
 9   Humidity3pm    3032 non-null   float64
 10  Pressure9am    3035 non-null   float64
 11  Pressure3pm    3032 non-null   float64
 12  Temp9am        3031 non-null   float64
 13  Temp3pm        3032 non-null   float64
 14  RainToday      3011 non-null   object
 15  RainTomorrow   3011 non-null   object
dtypes: float64(12), object(4)
memory usage: 403.8+ KB

In [28]:
#droping null values from raintoda, raintomorrow
# alb['RainToday'].dropna(inplace=True) not working!